@charset "UTF-8";

article {
	/*
	padding-left: 30px;
	padding-right: 30px;
	*/
	padding-top: 3px;
	padding-bottom: 20px;
}

.list {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	box-sizing: border-box;
}